html,
body { 
	background-image: url("img/joker_wallpaper.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center, center; 
	background-size: cover;
	background-color: #f8f8f8;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

html,
body {
	height:100%;
	font-size: 1.25em;
}

.footer {
	width:100%;
	height:150px;
	position:absolute;
	bottom:0;
	left:0;
	font-weight:normal;
	letter-spacing:1pt;
	word-spacing:2pt;
	text-align:center;
	font-family:arial, helvetica, sans-serif;
	line-height:1;
	text-align: center;
}
.suggestion-display {
	margin-top: 2em;
}

.suggestion-image-display {
	display:none;
}

.suggestion-text-display { 
	/*font-family: 'Raleway',sans-serif;*/
	font-size: 3.6em;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	overflow-wrap: break-word;
}
@media (max-width: 992px) {
    .suggestion-text-display{font-size: 3.3em;}
}
@media (max-width: 768px) {
    .suggestion-text-display{font-size: 2.7em;}
}

.button-container {
	width: 100%;
	text-align: center;
	align-content: center;
}

.bottom-button {
	font-size: 2.5em;
	margin-left: .3em;
	margin-right: .3em;
}
